* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  color: #555;
}
body {
  background: linear-gradient(to right, #222, #555);
}
.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: grid;
  justify-content: center;
  align-content: center;

  padding: 10px;
  background: black;
  transform: scale(1.5);
}
.container > button {
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
}
.corpo {
  background: red;
  height: 100vh;
  width: fit-content;
}
.container > .color {
  background-color: #e22f68;
}
.container > .span-two-circle {
  border-radius: 50%;
  font-size: 14px;
  padding: 0px 14px;
  height: 50px;
  width: 50px;
  transform: scale(0.9);
}
.span-two {
  grid-row: span 2;
}
.container > .output {
  text-align: right;
  display: flex;
  flex-direction: row;
}
.container > .nome-btn {
  text-decoration: none;
  display: inline;
  outline: none;
  font-size: 10px;
  outline: none;
  border: none;
  height: fit-content;
  background-color: gray;
}
.container > .linha2 {
  display: inline;
}
